/*GENERAL*/
*{
   border:0;
   margin:0;
   padding:0;
   font: 26px Tahoma sans-serif;
   box-sizing:border-box;
}

body{
   background:#333;
   color: #aaa;
}

body > *{
   margin:20px;
}

ul{
   list-style-type:none;
}

li{
   margin-left:30px;
}

a{
   text-decoration:none;
   color:#1f9c09;
}

a:hover{
   color:#28cf0a
}

h2{
   font-weight:bold;
}

/*HEADER*/

header > *{
   display:inline-block;
}

header h1{
   font-weight:bold;
}

.italics{
   font-style:italic;
}
