<!DOCTYPE html>
<html>
  <head>
    <title>nick gonzales</title>
    <meta charset='utf8'>
    <style>
      * {
        font: 15px Verdana, sans-serif;
      }

      body{
        padding: 15px;
      }

      .linkList {
        list-style-type: none;
      }

      .textAlignCenter {
        text-align: center;
      }

      h1 {
        font-size: 1.5rem;
      }
    </style>
  </head>
     
  <body>
    <header>
      <h1 class='textAlignCenter'>nick gonzales | projects & portfolios</h1>
    </header>

    <section class='links'>
      <ul class='linkList textAlignCenter'>
        <li><a href="/gallery">gallery example</a></li>
        <li><a href="/card">carrd clone</a></li>
      </ul>
    </section>
    </body>
</html>
