<!DOCTYPE html>
<html>
  <head>
    <title>nick gonzales</title>
    <meta charset='utf8'>
    <meta name="description" content="nick gonzales website for projects and portfolios" />
    <meta name="keywords" content="frontend, front, end, developer, fullstack, full, stack, portfolio" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      * {
        font: 15px Verdana, sans-serif;
      }

      body{
        padding: 15px;
      }

      .link-list {
        list-style-type: none;
      }

      .text-align-center {
        text-align: center;
      }

      h1 {
        font-size: 1.5rem;
      }
    </style>
  </head>
     
  <body>
    <header>
      <h1 class='text-align-center'>nick gonzales | projects & portfolios</h1>
    </header>

    <section class='links'>
      <ul class='link-list text-align-center'>
        <li><a href="/gallery">gallery example</a></li>
        <li><a href="/card">carrd clone</a></li>
        <li><a href="/following">following list database</a></li>
      </ul>
    </section>
    </body>
</html>
